version: "3.7"
services:
  web:
    build: .
    pull_policy: build
    restart: unless-stopped
    ports:
      - 80
      - 443
    volumes:
      - website:/usr/share/nginx/html

volumes:
  website:
