version: "3.9"
services:
  web:
    build: ./
    pull_policy: build
    image: biatiastrojs
    restart: unless-stopped
    ports:
      - 80
      - 443
    volumes:
      - ./ot/:/usr/share/nginx/html/
