name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: success()
        with:
          commit_message: Automatic Build

      - name: Webhook
        uses: distributhor/workflow-webhook@v1
        if: success() && env.webhook_url != null
        env:
          webhook_url: ${{ secrets.webhook_url }}
          webhook_secret: "CKccJfNzqwaGjwDc"
          verify_ssl: false
