name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: success()
        with:
          commit_message: Automatic Build

      - name: All files
        id: files
        uses: masesgroup/retrieve-changed-files@v2
      - run: |
          CHANGED_FILES=""
          DELETED_FILES=""
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            echo "--modified ${changed_file} "
            CHANGED_FILES+="--include ${changed_file} "
          done
          echo "modified=${CHANGED_FILES}" >> $GITHUB_ENV
          for deleted_file in ${{ steps.files.outputs.removed }}; do
            echo "--deleted ${deleted_file} "
            DELETED_FILES+="--include ${deleted_file} "
          done
          echo "deleted=${DELETED_FILES}" >> $GITHUB_ENV

      - name: "Sync modified files"
        if: env.modified
        run: echo "${{env.modified}}"

      - name: "Sync deleted files"
        if: env.deleted
        run: echo "${{env.deleted}}"
