name: Build and commit AstroJS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build AstroJS
        run: npm run build

      - name: rclone
        uses: wei/rclone@v1
        env:
            RCLONE_CONF:
        with:
            args: sync --sftp-host ${{ secrets.SFTP_SERVER }} --sftp-user ${{ secrets.SFTP_USER }} --sftp-port ${{ secrets.SFTP_PORT }} --sftp-pass $(rclone obscure aAmWciq0TXAHap8k) dist sftp:/ --progress